
*{
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body {
    padding: 0px;
    margin: 0%;
}

#container {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(12, 1fr);
    min-width: 100vw;
    max-height: 100vh;
}

.pic {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 12;
    background: url('/city.jpg');
    background-size: cover;
}

.para {
    grid-column-start: 4;
    grid-column-end: -1;
    grid-row-start: 1;
    padding-left: 2rem;
    padding-right: 5rem;
    background-color: rgb(250, 248, 248);
    padding-top: 4rem;
    padding-bottom: 6rem;
    
}
.form-container {
    grid-column-start: 4;
    grid-column-end: -1;
    padding: 2rem;
    background-color: hsl(220, 14%, 61%);

}

.create {
    padding: .5em 1em;
    border-radius: 8px;
    background-color: hsl(210, 5%, 85%);
    border-color: rgb(110, 131, 175);
}

.create:hover {
    cursor: pointer;
    background-color: azure;
    box-shadow:  3px 3px 4px rgb(85, 119, 163);
}

input {
    display: block;
    max-width: 40vw;
    margin-right: 3rem;
    margin-bottom: 1.5rem;
    padding: 8px;
    border-radius: 5px;
    margin-top: .25rem;
    background-color: hsl(210, 5%, 85%);
}

label {
    display: inline-block;
    
}

/* .form-container form .form-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: auto;
}

form .form-main .user-input {
    width: calc(100% / 2-20px);
}

.form-main .user-input input {
    margin: 20px 0 12px 0;
    width: 100%;
} */

.title {
    padding-bottom: 15px;
    font-size: larger;
    font-weight: bold;
}
