
*{
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body {
    padding: 0px;
    margin: 0px;
}

#container {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(12, 1fr);
    min-width: 100vw;
    max-height: 100vh;
}

.pic {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 12;
    background: url('/city.jpg');
    background-size: cover;
}

.para {
    grid-column-start: 4;
    grid-column-end: -1;
    grid-row-start: 1;
    padding-left: 2rem;
    padding-right: 5rem;
    background-color: rgb(250, 248, 248);
    padding-top: 4rem;
    padding-bottom: 6rem;
    
}
.form-container {
    grid-column-start: 4;
    grid-column-end: -1;
    padding: 2rem;
    background-color: hsl(220, 14%, 61%);

}

.create {
    padding: .5em 1em;
    border-radius: 8px;
    background-color: hsl(210, 5%, 85%);
    border-color: rgb(110, 131, 175);
}

.create:hover {
    cursor: pointer;
    background-color: azure;
    box-shadow:  3px 3px 4px rgb(85, 119, 163);
}

input {
    display: block;
    max-width: 40vw;
    margin-right: 3rem;
    margin-bottom: 1.5rem;
    padding: 8px;
    border-radius: 5px;
    margin-top: .25rem;
    background-color: hsl(210, 5%, 85%);
    border-color: rgb(82, 82, 133);
}

label {
    display: inline-block;
    
}

.title {
    padding-bottom: 15px;
    font-size: larger;
    font-weight: bold;
}

.footer {
    grid-column-start: 4;
    grid-column-end: -1;
    padding: 2rem;
    background-color: rgb(250, 248, 248);
    grid-row-start: 3;
    grid-row-end: -1;
    min-height: 20vh;
}

.login {
    text-decoration: none;
    color: rgb(110, 131, 175);
}

.login:hover {
    text-shadow: .25em .25em .25em rgb(115, 149, 212);
}